@import url('https://fonts.googleapis.com/css2?family=Karla:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300&display=swap');

.logo {
    margin-right: 5px;
}

.navbar{
    background: linear-gradient(90deg, #672280 1.18%, #A626D3 100%);
    color: white;
    font-family: 'Inter', sans-serif;
    font-size: 0.75rem;
}

.text-logo {
    color: white;
    font-weight: bold;
    font-family: 'Karla', sans-serif;

}